*.csproj

*.pidb

Assets/.DS_Store

Library/AssetImportState

Library/AssetImportState

Library/metadata

Library/cache

Library/previews
Library/AssetImportState

*.meta

Temp
Temp/AudioImport.audio

*.csproj

Assembly-CSharp-vs.csproj

*.csproj

*.csproj

*.csproj
